on boot

# For starting recovery on 5.0 and newer
service recovery /sbin/recovery
    # [CosmicDan] Converted to one-shot so we can kill it (stopping the service destroys framebuffer access)
    oneshot
    seclabel u:r:recovery:s0
